@import "../Variables.css";

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 22px 15%;
  gap: 1.5rem;
}
.about-img img {
  max-width: 530px;
  height: auto;
  width: 100%;
  border-radius: 5px;
}
.about-text h3 {
  /* font-size: var(--h2-font);
  line-height: 1; */
  color: var(--text-color);
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1;
}
.about-text h4 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.8;
  margin: 8px 0 30px;
}
.about-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 4rem;
}
