@import "../Variables.css";

.contact {
  background: var(--second-bg-color);
  display: grid;
  padding: 22px 15%;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.contact-text h4 {
  color: var(--text-color);
  margin: 18px 0;
  font-size: 20px;
  font-weight: 600;
}
.contact-text h2 {
  color: var(--text-color);
  margin: 12px 0 20px;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1;
}
.list {
  margin-bottom: 2.8rem;
}
.list li {
  margin-bottom: 12px;
}
.list li a {
  display: block;
  color: var(--second-color);
  font-size: 14px;
  transition: all 0.45s ease;
}
.list li a:hover {
  color: var(--text-color);
  transform: translateY(5px);
}
.contact-icons i {
  height: 45px;
  width: 45px;
  /* background: var(--bg-color); */
  color: var(--text-color);
  font-size: 22px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 15px;
  transition: all 0.45s ease;
}
.contact-icons i:hover {
  color: var(--main-color);
  transform: scale(0.9);
}
.contact-form form {
  position: relative;
}
.contact-form form input,
form textarea {
  width: 100%;
  padding: 14px;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  font-size: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.contact-form textarea {
  resize: none;
  height: 240px;
}
.contact-form .submit {
  display: inline-block;
  font-size: 16px;
  padding: 10px;
  background: var(--main-color);
  color: var(--text-color);
  width: 160px;
  transition: all 0.45a ease;
}
.contact-form .submit:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: 1480px) {
  .contact {
    padding: 14px 3% 20px;
  }
}
@media (max-width: 920px) {
  .contact {
    grid-template-columns: 1fr;
  }
}
