@import "../Variables.css";

.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #304750);
  padding: 22px 15%;
  border-bottom: 1px solid transparent;
  transition: all 0.45s ease;
}
.menu-icon {
  visibility: hidden;
}
.logo {
  color: var(--text-color);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}
span {
  color: var(--main-color);
}
.navlist {
  display: flex;
}
.navlist a {
  color: var(--second-color);
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
  transition: all 0.45s ease;
}
.navlist a:hover {
  color: var(--main-color);
}

@media (max-width: 1150px) {
  .header {
    justify-content: space-between;
    padding: 10px;
    transition: 1s;
  }
  .logo {
    margin-left: 12px;
  }
  .menu-icon i {
    visibility: visible;
    font-size: 34px;
    margin-right: 12px;
    display: block;
  }
  .menu-icon i:hover {
    cursor: pointer;
  }
  .navlist {
    display: none;
  }
  .navlist-mobile {
    position: absolute;
    top: 72px;
    right: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    color: var(--text-color);
    text-align: center;
    transition: all 0.45s ease;
  }
  .navlist-mobile a {
    display: block;
    margin: 17px;
    font-size: 20px;
    transition: all 0.45s ease;
    color: var(--text-color);
  }
  .navlist-mobile a:hover {
    color: var(--main-color);
  }
  .navlist-mobile a.active {
    color: var(--text-color);
  }
}
