@import "../Variables.css";

.interests {
  padding: 22px 15%;
  background: var(--second-bg-color);
}
.main-text {
  text-align: center;
}
.main-text p {
  color: var(--second-color);
  font-size: 15px;
  margin-bottom: 15px;
}
.main-text h3 {
  /* font-size: var(--h2-font);
  line-height: 1; */
  color: var(--text-color);
  margin: 12px 0 20px;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.1;
}
.interest-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}
.box {
  background: var(--bg-color);
  padding: 35px 45px;
  border-radius: 8px;
  transition: all 0.45s ease;
}
.s-icons i {
  font-size: 32px;
  margin-bottom: 20px;
}
.box h3 {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-bottom: 15px;
}
.box p {
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 25px;
}
.box:hover {
  transform: translateY(-8px);
  cursor: pointer;
}
